__pycache__/
tests/*_generate_introduction.txt
tests/*_generate_what-is-it.txt
tests/*_generate_view-1.txt
tests/*_generate_view-2.txt
tests/*_generate_view-3.txt
tests/*_generate_view-4.txt
tests/*_generate_view-5.txt
templates/_latest.assignments.cards.html
tests-v2/hands-detect-part-1/hand_landmarker.task
