/*
Layouts.css 




*/
body{
    background-color:black;
}



.layout1 {
    background-color: transparent;
    color: white;
    padding: 10em 1em;
    position: relative;
    z-index: 2;
}




.layout1.is-red{
    background-color:rgb(153, 3, 3);
}
.layout1.is-orange{
    background-color:rgb(194, 45, 0);
}
.layout1.is-green{
    background-color:rgba(0, 128, 0, 0.589);
}
.layout1.is-pink{
    background-color:rgb(133, 0, 93);
}

.q1 {
    background-color: black;

    color: black;
    padding: 30em 1em;
    position: relative;
    z-index: 2;
}

.l .layout2 {
    background-color: black;
    padding: 10em 1em;
    position: relative;
    z-index: 2;
}

.layout3 {
    background-color: black;
    color: white;
    padding: 10em 1em;
    position: relative;
    z-index: 2;
    text-shadow: ;

}

.layout4 {
    color: black;
    background-color: black;
    padding: 10em 1em;
    position: relative;
    z-index: 2;

}



.small_layout0 {
    background-color: black;

    color: white;
    padding: 3em 1em;
    position: relative;
    z-index: 2;
    text-shadow: ;

}

.indicator {
    background-color: black;
    color: white;
    padding: 3em 1em;
    position: relative;
    z-index: 2;
    text-shadow: ;
}