.horizontal-scroll-slider-container {
                    display: flex;
                    gap: 20px;
                    overflow-x: auto;
                    margin-bottom: 10px;
                    padding: 26px 32px;
                    border-radius: 50px;
                    background: #5d5d5d;
                    box-shadow: 14px 14px 80px #343434, -14px -14px 80px #868686;
                    transition-duration: 0.8s;
}