.widget-boxes-init {
                    padding: 16px 400px;
                    transition-duration: 0.2s;
                    height: 300px;
                    border-radius: 50px;
                    border-radius: 50px;
                    background: linear-gradient(315deg, #646464, #545454);
                    box-shadow: -41px -41px 82px #505050, 41px 41px 82px #6a6a6a;
                    transition-duration: 2s;
}