/* FOIL BAR UI */
@import './transition.css';
@import './background.css';



.bar {
    overflow: hidden;
    background-color: transparent;
    position: fixed;
    margin-top: 900px;
    top: 0;
    width: 100%;
}




.indicator.is-off {
    border-radius: 25px;
    background: linear-gradient(145deg, #363636, #2d2d2d);
    box-shadow: 50px 50px 907px #14141476, -50px -50px 100px transparent;
    animation-name: indicatoranimate;
    animation-duration: 2s;
    zoom: 100%;
}