/* FOIL BAR UI */
@import './transition.css';
@import './background.css';



.bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.indicator.is-off {
    border-radius: 25px;
    background: linear-gradient(145deg, #363636, #2d2d2d);
    box-shadow: 50px 50px 907px #14141476, -50px -50px 100px transparent;
    animation-name: indicatoranimate;
    animation-duration: 2s;
    zoom: 100%;
}