body {background-color: rgb(46, 0, 0); font-family: sans-serif; color: white;}
h1 {background-color: rgb(101, 43, 43); font-family: sans-serif; color: white; padding: 16px 32px; }
h2 {background-color: rgb(101, 43, 43); font-family: sans-serif; color: white; padding: 16px 32px; }
h3 {background-color: rgb(101, 43, 43); font-family: sans-serif; color: white; padding: 16px 32px; }
h4 {background-color: rgb(101, 43, 43); font-family: sans-serif; color: white; padding: 16px 32px; }
h5 {background-color: rgb(101, 43, 43); font-family: sans-serif; color: white; padding: 16px 32px; }