/* Layout Styles */


.layout1 {
    background-color: lightskyblue; 
    color: black; 
    padding: 5em 2em; 
    position: relative;
    z-index: 2;
    font-weight: 700; 
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3); 
}


.layout2 {
    background-color: burlywood; 
    color: black; 
    padding: 5em 2em; 
    position: relative;
    z-index: 2;
    font-weight: 700;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3); 

}


.layout3 {
    background-color: coral; 
    color: black; 
    padding: 10em 2em; 
    position: relative;
    z-index: 2;
    font-weight: 700; 
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}


.layout4 {
    background-color: lightseagreen; 
    color: white; 
    padding: 10em 2em; 
    position: relative;
    z-index: 2;
    font-weight: 700; 
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3); 
}


.layout5 {
    background-color: rgb(149, 144, 238); 
    color: black; 
    padding: 10em 2em; 
    position: relative;
    z-index: 2;
    font-weight: 700; 
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3); 
}


.layout6 {
    background-color: darkkhaki; 
    color: black; 
    padding: 10em 2em; 
    position: relative;
    z-index: 2;
    font-weight: 700; 
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3); 
}


.layout7 {
    background-color: dodgerblue; 
    color: white; 
    padding: 10em 2em; 
    position: relative;
    z-index: 2;
    font-weight: 700; 
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3); 
}




.small_layout0 {
    background-color: red; 
    color: white; 
    padding: 2em 1em; 
    position: relative;
    z-index: 2;
    font-weight: 700; 
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3); 
}


.indicator {
    background-color: darkslategray; 
    color: white; 
    padding: 2em 1em; 
    position: relative;
    z-index: 2;
    font-weight: 700; 
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3); 
}
