<div class="row">
    <div class="col s12 m3">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">Assignment 1 </span>
          <p> Example here</p>
        </div>
        <div class="card-action">
            <md-filled-button>Ready Fredy</md-filled-button>
        </div>
      </div>
    </div>


    <div class="col s12 m3">
        <div class="card blue-grey darken-1">
          <div class="card-content white-text">
            <span class="card-title">Assignment 2 </span>
            <p> Example here</p>
          </div>
          <div class="card-action">
            <md-filled-button>Ready Fredy</md-filled-button>
          </div>
        </div>
      </div>


      <div class="col s12 m3">
        <div class="card blue-grey darken-1">
          <div class="card-content white-text">
            <span class="card-title">Assignment 3 </span>
            <p> Example here</p>
          </div>
          <div class="card-action">
              <md-filled-button>Ready Fredy</md-filled-button>
          </div>
        </div>
      </div>
  </div>