<!-- Global Components-->
<!-- <link rel="stylesheet" href="static/position-text.css" media="screen and (min-width: 1080px) and (max-height: 1920px)">  -->
<link rel="stylesheet" href="static/position-text.css">



<!-- Subjects Elements-->
<link rel="stylesheet" href="static/css/subjects-buttons.css" type="text/css">
<link rel="stylesheet" href="static/subjects-top-bar.css" type="text/css">
<link rel="stylesheet" href="static/UI.css" type="text/css">
<link rel="stylesheet" href="static/layouts.css" type="text/css">


<!-- Temporary route for scss components may/will be changed soon -->

<link rel="stylesheet" href="static/index-new.css" type="text/css">


<link rel="stylesheet" href="static/FOIL-UI.css" type="text/css">

<link rel="stylesheet" href="static/main.css" type="text/css">

<head>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
        <script type="importmap">
      {
        "imports": {
          "@material/web/": "https://esm.run/@material/web/"
        }
      }
    </script>
        <script type="module">
                import '@material/web/all.js';
                import { styles as typescaleStyles } from '@material/web/typography/md-typescale-styles.js';

                document.adoptedStyleSheets.push(typescaleStyles.styleSheet);
        </script>
</head>


<style>
        .flex {
                display: flex;
                flex-direction: column;
                gap: 10px;
        }
</style>

<body>
        <div class="indicator">
                <div class="space"></div>
                <div class="space"></div>
                <div class="space"></div>
                <div class="space"></div>
                <div class="space"></div>

                <fontsize90>Subjects</fontsize90>
                <a href="/main_menu" class="button small button is-red button-no-animate-mode">Back</a>
                <div class="space"></div>
                <div class="space"></div>
                <div class="space"></div>
                <div class="space"></div>
                <div class="space"></div>
                <div class="space"></div>
                <div class="space"></div>
                <div class="space"></div>
                <div class="space"></div>
                <div class="space"></div>
                <div class="space"></div>
                <div class="space"></div>
                <div class="space"></div>
                <div class="space"></div>
        </div>



        <div>
                <LIST>
                        <h1> Latest Assignments</h1>
                        <!-- PUT SOURCE HERE -->

                        {% include 'latest-assignments-cards.html' %}
                </LIST>
        </div>
</body>