{% include './System_Files/system.global.ui.include.ui.html' %}



<h1>Subjects</h1>


<!-- 
        Instruction:

        - vertical-scroll-slider-container
        - horizontal-scroll-slider-container
        - widget-boxes-init
        - widget-boxes-header-title
        - widget-boxes-header-description

-->

<div class="space"></div>
<div class="space"></div>
<div class="space"></div>
<div class="space"></div>
<div class="space"></div>
<div class="space"></div>
<div class="space"></div>
<div class="space"></div>
<div class="space"></div>
<div class="space"></div>
<div class="space"></div>
<div class="space"></div>
<div class="space"></div>
<div class="space"></div>
<div class="space"></div>
<div class="space"></div>
<div class="space"></div>
<div class="space"></div>
<div class="space"></div>
<div class="space"></div>
<div class="space"></div>
<div class="space"></div>
<div class="space"></div>
<div class="space"></div>
<div class="space"></div>
<div class="space"></div>
<div class="space"></div>
<div class="space"></div>
<div class="space"></div>
<div class="space"></div>
<div class="space"></div>
<div class="space"></div>
<div class="space"></div>

<div class="vertical-scroll-slider-container">
        <div class="horizontal-scroll-slider-container">
                <!--
                        - widget-boxes-init
                        - widget-boxes-header-title
                        - widget-boxes-header-description
                -->


                <!-- GENERATES START HERE-->


                 generate starts here
                 
                <!-- GENERATES END HERE-->
        
        </div>



        <div class="horizontal-scroll-slider-container">
                <!--
                        - widget-boxes-init
                        - widget-boxes-header-title
                        - widget-boxes-header-description
                -->
        </div>
        
        
        <div class="horizontal-scroll-slider-container">
                <!--
                        - widget-boxes-init
                        - widget-boxes-header-title
                        - widget-boxes-header-description
                -->
        </div>
</div>