{% include './System_Files/system.global.ui.include.ui.html' %}


<!-- <div class="space"></div> -->


<head>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <script type="importmap">
      {
        "imports": {
          "@material/web/": "https://esm.run/@material/web/"
        }
      }
    </script>
    <script type="module">
        import '@material/web/all.js';
        import { styles as typescaleStyles } from '@material/web/typography/md-typescale-styles.js';

        document.adoptedStyleSheets.push(typescaleStyles.styleSheet);
    </script>
</head>

<body>

    <header class="mdc-top-app-bar" style="background-color: rgb(92, 92, 81);">
        <div class="mdc-top-app-bar__row">
            <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
                <span class="mdc-top-app-bar__title">Subjects</span>
            </section>
        </div>
    </header>


    <div class="space"></div>
    <div class="space"></div>
    <div class="space"></div>
    <div class="space"></div>
    <div class="space"></div>





    <div class="layout5">
        <h1 class="md-typescale-display-large" style="font-size: 100px;">Subjects</h1>
    </div>


    
    <div class="layout3">
        <h1>Hi {{username}}</h1>
    </div>



    <div class="layout1">
        <h1>Latest Assignments</h1>
        <div class="row">
            {% include './_latest.assignments.cards.html' %}
        </div>
    </div>



    <div class="layout1">
        <h1>Past Assignments</h1>
        <div class="row">
            {% include './_past.assignments.cards.html' %}
        </div>
    </div>


    
    
    <div class="layout1">
        <h1>Settings Option</h1>
        <md-filled-button onclick="location.href='http://127.0.0.1:5000/settings_menu'">Settings</md-filled-button>
    </div>



</body>