
<!-- Global Components-->
<!-- <link rel="stylesheet" href="static/position-text.css" media="screen and (min-width: 1080px) and (max-height: 1920px)">  -->
<link rel="stylesheet" href="static/position-text.css"> 



<!-- Subjects Elements-->
<link rel="stylesheet" href="static/css/subjects-buttons.css" type="text/css">
<link rel="stylesheet" href="static/subjects-top-bar.css" type="text/css">


<!-- Temporary route for scss components may/will be changed soon -->

<link rel="stylesheet" href="static/index-new.css" type="text/css">


<link rel="stylesheet" href="static/FOIL-UI.css" type="text/css">

<link rel="stylesheet" href="static/main.css" type="text/css">



<!-- Material UI --> 

<link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
<script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>



<!-- Materialize UI -->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">


<!-- <div class="space"></div> -->
<style>
    body {
        background-color: #1a1a1a;
        color: #d0d0d0; 
    }

</style>

<head>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <script type="importmap">
      {
        "imports": {
          "@material/web/": "https://esm.run/@material/web/"
        }
      }
    </script>
    <script type="module">
        import '@material/web/all.js';
        import { styles as typescaleStyles } from '@material/web/typography/md-typescale-styles.js';

        document.adoptedStyleSheets.push(typescaleStyles.styleSheet);
    </script>
</head>

<body>

    <header class="mdc-top-app-bar" style="background-color: rgb(92, 92, 81);">
        <div class="mdc-top-app-bar__row">
            <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
                <span class="mdc-top-app-bar__title">Settings</span>
                <md-filled-button onclick="location.href='http://127.0.0.1:5000/main_menu'">Back</md-filled-button>
            
            </section>
        </div>
    </header>


    <div class="space"></div>
    <div class="space"></div>
    <div class="space"></div>
    <div class="space"></div>
    <div class="space"></div>
    <div class="space"></div>
    <div class="space"></div>
    <div class="space"></div>
    <div class="space"></div>
    <div class="space"></div>
    <div class="space"></div>
    <div class="space"></div>
    <div class="space"></div>
    <div class="space"></div>
    <div class="space"></div>

    
    <h1 class="md-typescale-display-large" style="font-size: 100px;">Settings</h1>
    <h1 class="md-typescale-display-small">Change features based on your own preferences</h1>


    <h1 class="md-typescale-display-small" style="font-size: 20px;">LLM Type</h1>
    
    <md-filled-button>Low</md-filled-button>
    <md-filled-button>Medium</md-filled-button>
    <md-filled-button>High</md-filled-button>
    


    <h1 class="md-typescale-display-small" style="font-size: 20px;">Lesson Level</h1>

    <md-filled-button>Level 1</md-filled-button>
    <md-filled-button>Level 2</md-filled-button>
    <md-filled-button>Level 3</md-filled-button>
    <md-filled-button>Level 4</md-filled-button>

</body>