<!-- <link rel="stylesheet" href="static/UI.css" media="screen and (min-width: 1080px) and (max-height: 1920px)">
<link rel="stylesheet" href="static/layouts.css" media="screen and (min-width: 1080px) and (max-height: 1920px)">
<link rel="stylesheet" href="static/index.css" media="screen and (min-width: 1080px) and (max-height: 1920px)">
<link rel="stylesheet" href="static/position-text.css" media="screen and (min-width: 1080px) and (max-height: 1920px)">
<link rel="stylesheet" href="static/background.css" media="screen and (min-width: 1080px) and (max-height: 1920px)">
<link rel="stylesheet" href="static/subjects-middle-bar.css" media="screen and (min-width: 1080px) and (max-height: 1920px)">
<link rel="stylesheet" href="static/subjects-top-bar.css" media="screen and (min-width: 1080px) and (max-height: 1920px)">
<link rel="stylesheet" href="static/subjects-widget-buttons.css" media="screen and (min-width: 1080px) and (max-height: 1920px)"> -->




<!-- Original UX -->

<link rel="stylesheet" href="static/original-ux/UI.css" media="screen and (min-width: 1080px) and (max-height: 1920px)">
<link rel="stylesheet" href="static/original-ux/layouts.css" media="screen and (min-width: 1080px) and (max-height: 1920px)">
<link rel="stylesheet" href="static/original-ux/index.css" media="screen and (min-width: 1080px) and (max-height: 1920px)">
<link rel="stylesheet" href="static/original-ux/position-text.css" media="screen and (min-width: 1080px) and (max-height: 1920px)">
<link rel="stylesheet" href="static/original-ux/background.css" media="screen and (min-width: 1080px) and (max-height: 1920px)">





<!-- Other Elements-->

<link rel="stylesheet" href="static/css/other-elements/globals.css" type="text/css">
<link rel="stylesheet" href="static/css/other-elements/position-text.css" type="text/css">




<!-- Other Other Elements-->
<link rel="stylesheet" href="static/css/other-other-elements/horizontal-scroll-slider-container.css" type="text/css">
<link rel="stylesheet" href="static/css/other-other-elements/widget-boxes-header-description.css" type="text/css">
<link rel="stylesheet" href="static/css/other-other-elements/widget-boxes-header-title.css" type="text/css">
<link rel="stylesheet" href="static/css/other-other-elements/widget-boxes-init.css" type="text/css">





<!-- Subjects Elements-->

<link rel="stylesheet" href="static/css/subjects-elements/subjects-widget-buttons.css" type="text/css">
<link rel="stylesheet" href="static/css/subjects-elements/subjects-middle-bar.css" type="text/css">
<link rel="stylesheet" href="static/css/subjects-elements/subjects-buttons.css" type="text/css">
<link rel="stylesheet" href="static/css/subjects-elements/subjects-bottom-bar.css" type="text/css">
<link rel="stylesheet" href="static/css/subjects-elements/media-queries.css" type="text/css">
<link rel="stylesheet" href="static/css/subjects-elements/index.css" type="text/css">
<link rel="stylesheet" href="static/css/subjects-elements/FOIL-Bar.css" type="text/css">
<link rel="stylesheet" href="static/css/subjects-elements/FOIL-Bar.css" type="text/css">