<!-- <link rel="stylesheet" href="static/UI.css" media="screen and (min-width: 1080px) and (max-height: 1920px)">
<link rel="stylesheet" href="static/layouts.css" media="screen and (min-width: 1080px) and (max-height: 1920px)">
<link rel="stylesheet" href="static/index.css" media="screen and (min-width: 1080px) and (max-height: 1920px)">
<link rel="stylesheet" href="static/position-text.css" media="screen and (min-width: 1080px) and (max-height: 1920px)">
<link rel="stylesheet" href="static/background.css" media="screen and (min-width: 1080px) and (max-height: 1920px)">
<link rel="stylesheet" href="static/subjects-middle-bar.css" media="screen and (min-width: 1080px) and (max-height: 1920px)">
<link rel="stylesheet" href="static/subjects-top-bar.css" media="screen and (min-width: 1080px) and (max-height: 1920px)">
<link rel="stylesheet" href="static/subjects-widget-buttons.css" media="screen and (min-width: 1080px) and (max-height: 1920px)"> -->


<link rel="stylesheet" href="static/temporary-working-css/original-ux/UI.css" media="screen and (min-width: 1080px) and (max-height: 1920px)">
<link rel="stylesheet" href="static/temporary-working-css/original-ux/layouts.css" media="screen and (min-width: 1080px) and (max-height: 1920px)">
<link rel="stylesheet" href="static/temporary-working-css/original-ux/index.css" media="screen and (min-width: 1080px) and (max-height: 1920px)">
<link rel="stylesheet" href="static/temporary-working-css/original-ux/position-text.css" media="screen and (min-width: 1080px) and (max-height: 1920px)">
<link rel="stylesheet" href="static/temporary-working-css/original-ux/background.css" media="screen and (min-width: 1080px) and (max-height: 1920px)">


<link rel="stylesheet" href="static/temporary-working-css/globals.css" type="text/css">
<link rel="stylesheet" href="static/temporary-working-css/subjects-widget-buttons.css" type="text/css">
<link rel="stylesheet" href="static/temporary-working-css/subjects-middle-bar.css" type="text/css">
<link rel="stylesheet" href="static/temporary-working-css/subjects-buttons.css" type="text/css">
<link rel="stylesheet" href="static/temporary-working-css/subjects-bottom-bar.css" type="text/css">
<link rel="stylesheet" href="static/temporary-working-css/media-queries.css" type="text/css">

<link rel="stylesheet" href="static/temporary-working-css/index.css" type="text/css">
<link rel="stylesheet" href="static/temporary-working-css/FOIL-Bar.css" type="text/css">