
<!-- Game Menu -->
<div class="bar">
        <a href="/main_menu" class="button small button is-red button-no-animate-mode">Home &#9750;</a>
        <a href="/sample_lesson_original_ux_port__introduction" class="button small button is-red button-no-animate-mode">Next &rArr; </a>
        <a href="#" class="button"onClick="Calculator=window.open( '../../../../APPS/calculator.html','Calculator', 'width=600,height=1000'); return false;">Launch Calculator</a>

</div>



<!-- Introduction-->
<div class="bar">
        <a href="/" class="button small button is-red button-no-animate-mode">Back &#8656;</a>
        <a href="/" class="button small button is-red button-no-animate-mode">Next &rArr;</a>
        <a href="#" class="button"onClick="Calculator=window.open( '../../../../../Smith-Pad/APPS/calculator.html','Calculator', 'width=600,height=1000'); return false;">Launch Calculator</a>
      
</div>



<!-- 01.html -->
<div class="bar">
        <a href="/" class="button small button is-red button-no-animate-mode">Back &#8656;</a>
        <a href="/" class="button small button is-red button-no-animate-mode">Next &rArr;</a>
        <a href="#" class="button"onClick="Calculator=window.open( '../../../../../Smith-Pad/APPS/calculator.html','Calculator', 'width=600,height=1000'); return false;">Launch Calculator</a>
      
</div>



<!-- 02.html -->
<div class="bar">
        <a href="/" class="button small button is-red button-no-animate-mode">Back &#8656;</a>
        <a href="/" class="button small button is-red button-no-animate-mode">Next &rArr;</a>
        <a href="#" class="button"onClick="Calculator=window.open( '../../../../../Smith-Pad/APPS/calculator.html','Calculator', 'width=600,height=1000'); return false;">Launch Calculator</a>
      
</div>



<!-- 03.html -->
<div class="bar">
        <a href="/" class="button small button is-red button-no-animate-mode">Back &#8656;</a>
        <a href="/" class="button small button is-red button-no-animate-mode">Next &rArr;</a>
        <a href="#" class="button"onClick="Calculator=window.open( '../../../../../Smith-Pad/APPS/calculator.html','Calculator', 'width=600,height=1000'); return false;">Launch Calculator</a>
      
</div>