{% include './System_Files/system.global.ui.include.ui.html' %}
{% include 'template-new-refreshed/gradient-config/02.html' %}


<div class="bar">
    <a href="/game_ui_test" class="button small button is-red button-no-animate-mode">Home &#9750;</a>
    <a href="/game_ui_test_01" class="button small button is-red button-no-animate-mode">Back &#9750;</a>
    <a href="/game_ui_test_03" class="button small button is-red button-no-animate-mode">Next &rArr; </a>
    <a href="#" class="button" onClick="Calculator=window.open( '../../../../APPS/calculator.html','Calculator', 'width=600,height=1000'); return false;">Launch Calculator</a>
</div>


<div class="indicator is-off">
    <fontsize50>
        <p align="center">02</p>
    </fontsize50>
</div>
