{% include './System_Files/system.global.ui.include.ui.html' %}
{% include 'template-new-refreshed/gradient-config/02.html' %}


<div class="bar">
    <a href="{{route_2_home}}" class="button small button is-red button-no-animate-mode">Home &#9750;</a>
    <a href="{{route_2_back}}" class="button small button is-red button-no-animate-mode">Back &#9750;</a>
    <a href="{{route_2_next}}" class="button small button is-red button-no-animate-mode">Next &rArr; </a>
    <a href="#" class="button" onClick="Calculator=window.open( '../../../../APPS/calculator.html','Calculator', 'width=600,height=1000'); return false;">Launch Calculator</a>
</div>


<fontsize50>
    <p align="left">1</p>
</fontsize50>

<div class="space"></div>


<div style="background-color: rgb(49, 49, 49); padding: 16px 32px; color: rgb(255, 255, 255); font-size: 40px;">


</div>
