{% include './System_Files/system.global.ui.include.ui.html' %}
{% include 'template-new-refreshed/gradient-config/03.html' %}


<div class="bar">
    <a href="{{route_3_home}}" class="osui-button">Home &#9750;</a>
    <a href="{{route_3_back}}" class="osui-button">Back &#9750;</a>
    <a href="{{route_3_next}}" class="osui-button">Next &rArr; </a>
    <a href="#" class="osui-button" onClick="Calculator=window.open( '../../../../APPS/calculator.html','Calculator', 'width=600,height=1000'); return false;">Launch Calculator</a>
</div>

<div class="space"></div>
<div class="space"></div>
<div class="space"></div>
<div class="space"></div>
<div class="space"></div>
<div class="space"></div>

<div class="subjects-lesson-ux-top-bar">
    3
</div>


<div style="background-color: rgb(49, 49, 49); padding: 16px 32px; color: rgb(255, 255, 255);">
content generation starts here
</div>