{% include './System_Files/system.global.ui.include.ui.html' %}
{% include 'template-new-refreshed/gradient-config/05.html' %}


<div class="bar">
    <a href="{{route_6_home}}" class="button small button is-red button-no-animate-mode">Home &#9750;</a>
    <a href="{{route_6_back}}" class="button small button is-red button-no-animate-mode">Back &#9750;</a>
    <a href="{{route_6_next}}" class="button small button is-red button-no-animate-mode">Next &rArr; </a>
    <a href="#" class="button" onClick="Calculator=window.open( '../../../../APPS/calculator.html','Calculator', 'width=600,height=1000'); return false;">Launch Calculator</a>
</div>

<div class="indicator is-off">
    <fontsize50>
        <p align="center">06</p>
    </fontsize50>
</div>
