{% include './System_Files/system.global.ui.include.ui.html' %}
{% include 'template-new-refreshed/gradient-config/begin.html' %}


<div class="space"></div>
<div class="space"></div>
<div class="space"></div>
<div class="space"></div>
<div class="space"></div>
<div class="space"></div>
<div class="space"></div>
<div class="space"></div>
<div class="space"></div>
<div class="space"></div>
<div class="space"></div>
<div class="space"></div>
<div class="space"></div>

<div class="indicator is-off">
    <fontsize100>
        <p align="center">Welcome to the Game</p>
    </fontsize100>
</div>

<div class="space"></div>
<div class="space"></div>
<div class="space"></div>
<div class="space"></div>
<div class="space"></div>


<div class="indicator is-off">
    <center>
    <a href="#" class="osui-button">Play &#9750;</a>
    <a href="#" class="osui-button">Exit &#9750;</a>
    </center>

</div>