{% include './System_Files/system.global.ui.include.ui.html' %}
{% include 'template-new-refreshed/gradient-config/begin.html' %}


<div class="space"></div>
<div class="space"></div>
<div class="space"></div>
<div class="space"></div>
<div class="space"></div>
<div class="space"></div>
<div class="space"></div>
<div class="space"></div>
<div class="space"></div>
<div class="space"></div>
<div class="space"></div>
<div class="space"></div>
<div class="space"></div>

<div class="indicator is-off">
    <p style="font-size: 50px;">Welcome to the Game</p>
    <p style="font-size: 50px;">Ready to Play?</p>
</div>

<div class="space"></div>
<div class="space"></div>
<div class="space"></div>
<div class="space"></div>
<div class="space"></div>


<div class="indicator is-off">
        <a href="/game_ui_test_01" class="osui-button-small">Play &#9750;</a>
        <a href="/" class="osui-button-small">Exit &#9750;</a>
</div>