.osui-button {
    background: #2b2b2b;
    padding: 16px 32px;
    color: white;
    box-shadow:  20px 20px 60px #111111, -20px -20px 60px #454545;
    border-style: none;
    font-size: 20px;
    border-radius: 30px;
    text-decoration: none;
}


.osui-button-small {
    background: #2b2b2b;
    padding: 16px 32px;
    color: white;
    box-shadow:  20px 20px 60px #111111, -20px -20px 60px #454545;
    border-style: none;
    font-size: 20px;
    border-radius: 30px;
    text-decoration: none;
    transition-duration: 1s;
}

.osui-button-small:hover {
        background-color: rgba(255, 255, 255, 0.1);
        box-shadow: 0px 20px 0px #ffffff;
}