.horizontal-scroll-slider-container {
        display: flex;
        gap: 20px;
        overflow-x: auto;
        margin-bottom: 300px;
        padding: 26px 32px;
        border-radius: 50px;
        background: transparent;
        transition-duration: 0.8s;
}