.subjects-middle-bar {
                    border-radius: 25px;
                    animation-name: indicatoranimate;
                    animation-duration: 2s;
                    zoom: 80%;
                    margin-top: 300px;
}