.subjects-middle-bar {
                    border-radius: 25px;
                    // background: linear-gradient(145deg, #363636, #2d2d2d);
                    // box-shadow: -50px -50px 100px #141414, 50px 50px 100px #505050;
                    animation-name: indicatoranimate;
                    animation-duration: 2s;
                    zoom: 60%;
                    margin-top: 300px;
}