.vertical-scroll-slider-container {
        border-radius: 50px;
        background: #2e2e2e;
        // box-shadow: 20px 20px 60px #121212, -20px -20px 60px #4a4a4a;
        padding: 16px 32px;
        max-height: 700px;
        overflow-y: auto;
}